/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
    padding: 32px;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 31.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
}

.modalruta{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 21.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
}

.modalCliente{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 31.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
}

.modalProductos{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 38rem;
    outline: none;
    padding: 10px;
}

.modalEditarProductos{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 30.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
}

.modalAsesor{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 27.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
}

.modalEditarAsesor{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 21.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
}

.modalPedido{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 21.25rem;
    width: 31.25rem;
    outline: none;
    padding: 10px;
    overflow: scroll;
}